.content {
  position: absolute;
  left: 4em;
  right: 4em;
  border-radius: 10px; 
  background: rgba(0,0,0,0.2);
  overflow: hidden;
  height: 100%;
}
.content > div {
  overflow-x: auto;
  height: 100%;
  margin-right: -1em;
  padding: 0 2em 0 2em;
}

.topnav {
  list-style-type: none;
  overflow: hidden;
}
.topnav li {
  font-size: 1.25em;
  font-weight: bold;
  float: left;
}
.topnav a {
  display: inline-block;
  text-align: center;
  padding: 0.2em 0.7em;
  text-decoration: none;
  transition: 0.3s;
  color: #efefef
}
.topnav a:hover {
  color: #fff;
}
.topnav li.icon {display: none;}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlayContent {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
/* Responsive stuff */
@media screen and (max-width: 680px) {
  .topnav li {display: none;}
  .topnav li.icon {
    float: right;
    display: inline-block;
    font-size: 1.5em;
  }
}
